@media only screen and (max-width: 800px) {
    .container_9 {
        margin: 0 auto;
        overflow: hidden;
        max-width: 480px;
        width: 100% !important;
    }
}

@media only screen and (max-width: 1000px) {
    .container_9 {
        margin: 0 auto;
        width: 750px;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        min-width: 1200px;
    }
    .container_9 {
        margin: 0 auto;
        width: 1170px;
    }
    /* Grid >> Global
----------------------------------------------------------------------------------------------------*/
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9 {
        display: inline;
        float: left;
        position: relative;
        margin-right: 20px;
    }
    /* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
    .alpha {
        margin-left: 0;
    }
    .omega {
        margin-right: 0;
    }
    /* Grid >> 9 Columns
----------------------------------------------------------------------------------------------------*/
    .container_9 .grid_1 {
        width: 91px;
    }
    .container_9 .grid_2 {
        width: 270px;
    }
    .container_9 .grid_3 {
        width: 313px;
    }
    .container_9 .grid_4 {
        width: 424px;
    }
    .container_9 .grid_5 {
        width: 495px;
    }
    .container_9 .grid_6 {
        width: 646px;
    }
    .container_9 .grid_7 {
        width: 715px;
    }
    .container_9 .grid_8 {
        width: 868px;
    }
    .container_9 .grid_9 {
        width: 940px;
    }
    /* Prefix Extra Space >> 9 Columns
----------------------------------------------------------------------------------------------------*/
    .container_9 .prefix_1 {
        padding-left: 111px;
    }
    .container_9 .prefix_2 {
        padding-left: 222px;
    }
    .container_9 .prefix_3 {
        padding-left: 333px;
    }
    .container_9 .prefix_4 {
        padding-left: 444px;
    }
    .container_9 .prefix_5 {
        padding-left: 555px;
    }
    .container_9 .prefix_6 {
        padding-left: 666px;
    }
    .container_9 .prefix_7 {
        padding-left: 777px;
    }
    .container_9 .prefix_8 {
        padding-left: 888px;
    }
    /* Suffix Extra Space >> 9 Columns
----------------------------------------------------------------------------------------------------*/
    .container_9 .suffix_1 {
        padding-right: 111px;
    }
    .container_9 .suffix_2 {
        padding-right: 222px;
    }
    .container_9 .suffix_3 {
        padding-right: 333px;
    }
    .container_9 .suffix_4 {
        padding-right: 444px;
    }
    .container_9 .suffix_5 {
        padding-right: 555px;
    }
    .container_9 .suffix_6 {
        padding-right: 666px;
    }
    .container_9 .suffix_7 {
        padding-right: 777px;
    }
    .container_9 .suffix_8 {
        padding-right: 888px;
    }
    /* Push Space >> 9 Columns
----------------------------------------------------------------------------------------------------*/
    .container_9 .push_1 {
        left: 111px;
    }
    .container_9 .push_2 {
        left: 222px;
    }
    .container_9 .push_3 {
        left: 333px;
    }
    .container_9 .push_4 {
        left: 444px;
    }
    .container_9 .push_5 {
        left: 555px;
    }
    .container_9 .push_6 {
        left: 666px;
    }
    .container_9 .push_7 {
        left: 777px;
    }
    .container_9 .push_8 {
        left: 888px;
    }
    /* Pull Space >> 9 Columns
----------------------------------------------------------------------------------------------------*/
    .container_9 .pull_1 {
        left: -111px;
    }
    .container_9 .pull_2 {
        left: -222px;
    }
    .container_9 .pull_3 {
        left: -333px;
    }
    .container_9 .pull_4 {
        left: -444px;
    }
    .container_9 .pull_5 {
        left: -555px;
    }
    .container_9 .pull_6 {
        left: -666px;
    }
    .container_9 .pull_7 {
        left: -777px;
    }
    .container_9 .pull_8 {
        left: -888px;
    }
}